'Basic Hawaiian':
  'title': 'Basic Hawaiian'
  'paths': [
    '/Users/elusive/Sites/basichawaiian/www/wp-content/themes/basichawaiian/'
  ]
'Litton Bags':
  'title': 'Litton Bags'
  'paths': [
    '/Users/elusive/Sites/littonbags/www/wp-content/themes/littonbags'
  ]
'Documentation':
  'title': 'Documentation'
  'paths': [
    '/Users/elusive/Sites/_documentation'
  ]
'Passwords':
  'title': 'Passwords'
  'paths': [
    '/Users/elusive/Documents/passwords'
  ]
'iOS':
  'title': 'iOS'
  'paths': [
    '/Users/elusive/iOS'
  ]
'To Market':
  'title': 'To Market'
  'paths': [
    '/Users/elusive/Sites/littonbags/www/wp-content/themes/littonbags/lib/ToMarket'
  ]
'Soundscape':
  'title': 'Soundscape'
  'paths': [
    '/Users/elusive/Apps/soundscape'
  ]
